@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'ubuntu', sans-serif;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
}

html {

    font-size: 62.5%;
}

body {
    background-color: #1f242d;
    color: #fff;
}

section {
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}

.header {
    position: sticky;
    top: 0;
    left: 0;
    justify-content: space-between;
    width: 100%;
    background-color: #1f242d;
    padding: 2rem 9%;
    align-items: center;
    display: flex;
}

.header .sticky{
    border-bottom: .1rem solid rgba(0, 0, 0, .2);
}
.logo {
    font-size: 2.5rem;
    cursor: default;
    font-weight: 600;
    color: #fff;
}

.navbar a {
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
    margin-left: 4rem;
    transition: .3s;
}

.navbar a:hover {
    color: #0ef;
}

.navbar a:hover,
.navbar a.active {
    color: #0ef;
}

#menu-icon {
    color: #fff;
    font-size: 3.5rem;
    display: none;
}

.home {
    justify-content: center;
    align-items: center;
    display: flex;
}

.home-img img {
    width: 65vh;
    margin: 0 5rem 0;
    border-radius: 15rem;
    box-shadow: 0 0 3rem #0ef;
}


.homecontent h3 {
    font-size: 3rem;
    font-weight: 700;
}

.homecontent h1 {
    font-size: 5rem;
    font-weight: 800;
    line-height: 1.2;
}

.homecontent p {
    font-size: 2rem;
    overflow: hidden;
    margin-top: 15px;
}

span {
    color: #0ef;
}

.socialmedia a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: .2rem solid #0ef;
    border-radius: 50%;
    font-size: 2rem;
    color: #0ef;
    margin: 3rem 1.5rem 3rem 0;
    transition: .5s ease;
}

.socialmedia a:hover {
    background-color: #0ef;
    color: #323946;
    box-shadow: 0 0 1rem #0ef;
}

.btn {
    display: inline-block;
    color: #1f242d;
    background-color: #0ef;
    padding: 1rem 2.8rem;
    border-radius: 4rem;
    box-shadow: 0 0 1rem #0ef;
    font-size: 1.5rem;
    letter-spacing: .1rem;
    font-weight: 600;
    transition: .5s ease;
}

.btn:hover {
    box-shadow: none;
}

.about {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background-color: #323946;
}

.about img {
    width: 65vh;
    border-radius: 15rem;
    box-shadow: 0 0 3rem #0ef;
    margin: 0rem 5rem -2rem;
}
.heading {
    text-align: center;
    font-size: 4.5rem;
}

.about-content h2 {
    text-align: left;
    line-height: 1.2;
}

.about-content h3 {
    font-size: 2.5rem;
}

.about-content p {
    font-size: 1.5rem;
    margin: 2rem 0 3rem;
}

.services h2 {
    margin-bottom: 5rem;
}

.services-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;

}

.services-container .services-box {
    flex: 1 1 30rem;
    background: #323946;
    padding: 3rem 2rem 4rem;
    border-radius: 2rem;
    text-align: center;
    border: .2rem solid #1f242d;
    transition: .5s ease;
}

.services-box i {
    font-size: 7rem;
    color: #0ef;
}

.services-box h3 {
    font-size: 2.5rem;
}

.services-box p {
    font-size: 1.5rem;
    margin: 1rem 0 3rem;
}

.services-box:hover {
    border-color: #0ef;
    transform: scale(1.02);
}

.protofolio {
    background-color: #323946;
}

.protofolio h2 {
    margin-bottom: 4rem;
}

.protofolio-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2.5rem;
}

.protofolio-container .protofolio-box {
    position: relative;
    border-radius: 2rem;
    box-shadow: 0 0 1rem #1f242d;
    overflow: hidden;
    display: f;
}

.protofolio-box img {
    width: 100%;
    transition: .5s ease;
}

.protofolio-box img:hover {
    transform: scale(1.1);
}

.protofolio-box .protofolio-layer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, .1), #0ef);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 4rem;
    transform: translateY(100%);
    transition: .5s ease;
}

.protofolio-box:hover .protofolio-layer {
    transform: translateY(0);
}

.protofolio-layer h4 {
    font-size: 3rem;
}

.protofolio-layer p {
    font-size: 1.2rem;
    margin: .3rem 0 1rem;
}

.protofolio-layer a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    background-color: #1f242d;
    color: #0ef;
    font-size: 2rem;
    border-radius: 50%;
    transition: .5s ease;
}

.protofolio-layer a i {
    font-size: 2rem;
    color: #0ef;
}

.protofolio-layer a:hover {

    transform: scale(1.02);
    border-radius: 0;
}

.contact h2 {
    margin-bottom: 3rem;
}


.contact form {
    max-width: 70rem;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3rem;
}

.contact form .input-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact form .input-box input,
.contact form textarea {
    width: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: #fff;
    background-color: #323946;
    border-radius: .8rem;
    margin: .7rem 0;
}

.contact form .input-box input {
    width: 49%;
}

.contact form textarea {
    resize: none;
    width: 100%;
}

.contact form .btn {
    margin-top: 2rem;
    cursor: pointer;
}

.footer{
    background-color: #323946;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 2rem 9%;
}

.footer-text p{
    font-size: 1.3rem;
}

.footer-icontop i{
    color: #1f242d;
    background-color: #0ef;
    border-radius: .8rem;
    font-size: 3rem;
    padding: .8rem;
    box-shadow: 0 0 1rem #0ef;
    transition: .7s ease;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.footer-icontop i:hover{
    
    border-radius: 2rem;
}

@media(max-width:1200px){
    html {
        font-size: 55%;
    }
}
@media(max-width:991px){
    .header{
        padding: 2rem 3%;
    }
    section {
        padding: 10rem 3% 2rem;
    }
    .services{
        padding-bottom: 7rem;
    }
   .protofolio{
    padding-bottom: 7rem;
   }
    .footer{
        padding: 2rem 3%;
    }
}  

@media(max-width:788px){
    #menu-icon{
        display: block;
    }
    .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1rem 3%;
        background: #1f242d;
        border-top: .1rem solid rgba(0, 0, 0, .2);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
        display: none;
    }

    .navbar.active{
        display: block;
    }
    
    .navbar a{
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }

    .home{
        flex-direction: column;
    }

    .home-content h3{
        font-size: 2rem;
    }
    .home-content{
        font-size: 5rem;
    }
    .home-img img{
        width: 70vw;
        margin-top: 4rem;
    }

    .about{
        flex-direction: column-reverse;
    }
    .about img{
        width: 70vw;
        margin-top: 5rem;
    }
    .services h2{
        margin-bottom: 3rem;
    }
    .protofolio h2{
        margin-bottom: 3rem;
    }
    .protofolio-box .protofolio-layer {
        overflow: hidden;
    }
    
}
@media(max-width:540px){
    .protofolio-container{
        grid-template-columns: 1fr;
    }
}
@media(max-width:820px)
{
    html{
        font-size: 70%;
    }
    #menu-icon{
        display: block;
    }
    .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1rem 3%;
        background: #1f242d;
        border-top: .1rem solid rgba(0, 0, 0, .2);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
        display: none;
    }
    .navbar.active{
        display: block;
        
    }
    .navbar a{
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }
    .home{
        flex-direction: column;
        padding-bottom: 7rem;
        margin-top: -7rem;
    }
    .home-img img{
        width: 75vw;
        margin-top: 5rem;
    }
    .about{
        flex-direction: column-reverse;
        padding-bottom: 7rem;
        padding-top: -5rem;
    }
    .about img{
        width: 75vw;
        margin-top: 2rem;
    }
    .contact form .input-box input {
        width: 100%;
    }
}
